doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="css/style.css")
    title Quick start
  body
    h1 Quick start
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
        p Nice !
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit vitae harum id perferendis architecto, corporis at quasi a enim modi necessitatibus odit voluptas illum, facere ducimus rem. Voluptates, dignissimos?
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    ul
      li
        a(href="#") Link 1
      li
        a(href="#") Link 2
      li
        a(href="#") Link 3
    script(src="js/script.js")